#dropdown_div {
	display: flex;
	flex-direction: column;
	width: 50%;
}

#display {
	margin-top: 2rem;
}

.display_item {
	border: 1px solid;
}

.dd_option {
	border: 1px solid;
}

.dd_option:hover, .display_item:hover {
	background-color: #ccc;
}

.dd_option p {
	margin-left: 1rem;
}

#display > p {
	display: none;
}

