:root {
	--carmine: #931f1dff;
	--charcoal: #424b54ff;
	--moss-green: #8a9b68ff;
	--sage: #b6c197ff;
	--midnight-green: #073b4cff;
}

body {
	background-color: var(--sage);
}

textarea {
	resize: none;
}

#header {
	text-align: center;
	background-color: var(--midnight-green);
	color: var(--moss-green);
}

#header h1 {
	padding-top: .2rem;
	padding-bottom: .5rem;
}

#main_div {
	padding-bottom: 20px;
}

#recipe_input {
	display: none;
}

#recipe_display {
	display: none;
	text-align: center;
}

#title_hint {
	display: none;
	text-align: center;
}

#desc_hint {
	display: none;
	text-align: center;
}

#app_div {
	margin-left: 1rem;
	margin-right: 1rem;
}

.text_input {
	margin-bottom: 1rem;
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
}

.text_input input, textarea {
	width: 70%;
}

#steps_display_div {
	text-align: left;
}

input[type="text"], input[type="url"], textarea {
	border-radius: 5px;
}

#desc_input {
	padding-bottom: 6rem;
	border: 2px inset;
	border-color: rgb(118, 118, 118);
}

#step_buttons {
	padding-top: 1rem;
	display: flex;
	justify-content: center;
	gap: 10px;
}

#submit_div {
	padding-top: 1rem;
}

#desc_output {
	padding-top: .5rem;
}

#add_new_recipe {
	margin-top: 1rem;
}

.list_button_space {
	margin-right: 1rem;
}

