h1 {
	padding-top: 5px;
	text-align: center;
}

#outputheader {
	font-weight: bold;
}

#input_hint {
	margin: 5px;
	color: rgb(120, 120, 120);
}

#input_div {
	margin: 20px;
	position: relative;
}

#button_div {
	margin: 10px;
}

#submityear {
	margin-right: auto;
}

#reset {
	margin-left: auto;
}

#output_div {
	margin: 10px;
}