body {
	background-color: beige;
}

h1 {
	text-align: center;
	padding-top: 1%;
}

h3, h4 {
	text-align: center;
}

#maindiv {
	background-color: bisque;
	width: 90%;
	height: 100vh;
	margin: auto;
}

#temperature_input {
	max-width: 50%;
	vertical-align: top;
}

#input_prompt_div {
	float: left;
	width: 50%;
	text-align: center;
}

#temperature_input_div {
	float: right;
	width: 50%;
	text-align: center;
}

#input_div {
	margin: auto;
	padding-top: 2%;
	padding-bottom: 5%;
	width: 40%;
	align-items: center;
	display: flex;
}

#input_prompt {
	white-space: nowrap;
}

#output_div {
	padding-top: 5%;
	padding-right: 2%;
	padding-left: 2%;
}

#output {
	padding-top: 2%;
}